@model iMarket.ViewModels.CarrinhoIndexViewModel

@{
    ViewBag.Title = "iMarket: Seu Carrinho";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Seu Carrinho</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Quantidade</th>
            <th>Item</th>
            <th class="text-right">Preço</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Carrinho.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantidade</td>
                <td class="text-left">@line.Produto.Nome</td>
                <td class="text-right">@line.Produto.Preco.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantidade * line.Produto.Preco).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoverDoCarrinho", "Carrinho"))
                    {
                        @Html.Hidden("Id", line.Produto.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Remover" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Carrinho.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue comprando</a>
    @Html.ActionLink("Encerrar Compras", "Checkout", null, new { @class = "btn btn-primary" })
</div>
