@model iMarket.ViewModels.EditProdutoViewModel

@{
    ViewBag.Title = "Editando Produto";
    Layout = "~/Views/Shared/_SupermercadoLayout.cshtml";
}

<h2>Editando</h2>

@using (Html.BeginForm("EditProduto", "Supermercado"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Produto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Produto.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Produto.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Produto.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Produto.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Produto.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Produto.Preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Produto.Preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Produto.PrecoPromocional, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Produto.PrecoPromocional, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Produto.PrecoPromocional, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Produto.TemEstoque, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Produto.TemEstoque)
                    @Html.ValidationMessageFor(model => model.Produto.TemEstoque, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Produto.Departamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Produto.DepartamentoId, new SelectList(Model.Departamentos, "Id", "Nome"), "Selecione o Departamento", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Produto.DepartamentoId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Produto.SupermercadoId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Voltar à Lista", "IndexProduto", null, new { @class = "btn btn-default" })
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}