@model IEnumerable<iMarket.Models.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SupermercadoLayout.cshtml";
}

<br />

<p>
    @Html.ActionLink("Novo Produto", "NewProduto", new { id = 0 }, new { @class = "btn btn-primary btn-sm" })
</p>

<div class="panel panel-default">
    <div class="panel-heading"><h2>Lista de Produtos</h2></div>
    <div class="panel-body">
        <p>Os produtos que cadastrar aqui ficarão disponíveis para comnprar apenas após a opção "Disponível" for marcada.</p>
    </div>

    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoPromocional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    R$@Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    R$@Html.DisplayFor(modelItem => item.PrecoPromocional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.Nome)
                </td>
                <td>
                    @Html.ActionLink(" ", "DetailsProduto", new { id = item.Id }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-zoom-in" })
                    @Html.ActionLink(" ", "EditProduto", new { id = item.Id }, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-pencil" })
                    @Html.ActionLink(" ", "DeleteProduto", new { id = item.Id }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-remove" })

                </td>
            </tr>
        }

    </table>
</div>